<form class="m-auto my-5 background-image">
    <h3 class="text-decoration-underline">Upload Restaurant's Details</h3>
    <div class="w-100 m-5"></div>
    <div class="mb-3">
        <label for="restaurentName" class="form-label">Restaurent Name </label>
        <input type="text" class="form-control" id="restaurentName" >
    </div>
    <div class="mb-3">
        <label for="cuisine" class="form-label">Restaurent Cuisine </label>
        <input type="text" class="form-control" id="cuisine" >
    </div>
    <div class="mb-3">
        <label for="rating" class="form-label">Rating </label>
        <input type="number" max="5" min="0" class="form-control" id="rating" >
    </div>
    <div class="mb-3">
        <label class="form-label" for="customFile">Upload Restaurent Image</label>
        <input type="file" class="form-control" id="customFile" />
    </div>

    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="termsCheck">
        <label class="form-check-label" for="termsCheck">By checking this You agree with the terms and conditions of foodgarage pvt ltd</label>
    </div>
    <button type="submit" class="btn btn-outline-success w-75 ">Submit</button>
</form>